{% extends 'base.html' %}



{% block content %}
<div>
    <h3 class="mx-auto">Registration Form</h3>
<form method="POST" id="form">
        {% csrf_token %}
        <div class="form-group">
          <label for="text">Username</label>
          <input name="username" type="text" id="text" placeholder="Enter username" />
        </div>
        <div class="form-group">
          <label for=""
            >Password <br />
            
        <input class="form-control" type="password" name="password" id="" placeholder="Enter password">
        <div class="form-group">
          <label for="text">First Name</label>
          <input name="first_name" type="text" id="text" placeholder="Enter First name" />
        </div>
        <div class="form-group">
          <label for="text">Last Name</label>
          <input name="last_name" type="text" id="text" placeholder="Enter last name" />
        </div>
        <p>Already have an account <a href="{% url 'login' %}">Login here</a></p>        
        </div>
        <button type="submit" class="btn">Register</button>
</form>

</div>


{% endblock %}